<% if @user.exports.include? @bibtex %>
<form class="export-form" action="/api/user/export/remove">
  <input type="hidden" name="bibtex_id" value="<%= @bibtex.id %>" />
  <input type="submit"
         class="btn btn-primary"
         value="エクスポートリストから削除"/>
</form>
<% else %>
<form class="export-form" action="/api/user/export/add">
  <input type="hidden" name="bibtex_id" value="<%= @bibtex.id %>" />
  <input type="submit"
         class="btn"
         value="エクスポートリストに追加"/>
</form>
<% end %>
