<div class="row">
  <div class="span3">
    <ul class="nav nav-list">
      <li class="nav-header">
        メニュー
      </li>
      <li class="active">
        <a href="#">あなたの論文リスト</a>
      </li>
      <li>
        <a href="#">最近追加された論文</a>
      </li>
      <li>
        <a href="#">最近のコメント</a>
      </li>
      <li>
        <a href="#">BibTeXのエクスポート</a>
      </li>
    </ul>
  </div>
  <div class="span9">
    <h3>最近追加された論文</h3>
    <% if @bibtex %>
    <ul>
      <% @bibtex.each do |b| %>
      <li>
        <a href="/bibtex/<%= b.id %>"><%= b.title %></a>
        <% if @user.exports.include? b %>
        <form method="POST" action="/api/user/export/remove">
          <input type="hidden" name="bibtex_id" value="<%= b.id %>" />
          <input type="submit"
                 class="btn btn-primary"
                 value="エクスポートリストから削除"/>
        </form>
        <% else %>
        <form method="POST" action="/api/user/export/add">
          <input type="hidden" name="bibtex_id" value="<%= b.id %>" />
          <input type="submit"
                 class="btn"
                 value="エクスポートリストに追加"/>
        </form>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
<hr />
