<div class="container">
  <div class="row">
    <div class="span4"><h1>"名前"のページ</h1></div>
    <div class="span8"></div>
  </div>
<HR>

<table border="3">
<tr>
<th>
プロフィール
</th>
<th>最近したコメント</th>
</tr><tr>
<th>自分の論文</th>
<th>最近見た論文</th>
</tr>
</table>
