<html>
  <head>
    <title>
      BibHub
      - <%= @title%>
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/bibhub.css" type="text/css" media="screen" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('#myModal').modal({
      keyboard: false
      })
    </script>

  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
         <div class="row">
           <div class="span2">
             <a class="brand" href="/">BibHub</a>
           </div>
           <div class="span10">
             <ul class="nav">
               <li><a data-toggle="modal" href="#myModal">BibTeXを追加</a></li>
               <li><a href="/logout">ログアウト</a></li>
             </ul>
           </div>
         </div>
        </div>
      </div>
    </div>
    <div class="container">
      <% if @title %>
      <div class="page-header">
        <h1><%= @title %></h1>
      </div>
      <% end %>
      <%= yield %>
    </div>


    <div class="modal" id="myModal" style="display: none;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>BibteXを登録</h3>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <p>BibTeXのURLを指定</p>
          <div class="row">
            <div class="span3">
              <input type="text" name="" value="" />
            </div>
            <div class="span1">
              <input type="submit" class="btn"/>
            </div>
          </div>
        </form>
        <form action="" method="POST" enctype="multipart/form-data">
          <p>アップロードするBibTeXを選択</p>
          <div class="row">
            <div class="span3">
              <input type="file" name= "bibtex">
            </div>
            <div class="span1">
              <input type="submit" class="btn"/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#myModal" data-toggle="modal" class="btn">Close</a>
      </div>
    </div>
    
  </body>
</html>
