<html>
  <head>
    <title>
      BibHub
      - <%= @title%>
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/bibhub.css" type="text/css" media="screen" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bibhub.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">BibHub</a>
            <div class="nav-collapse">
              <ul class="nav pull-right">
                <li><form class="navbar-search pull-left" method="get" action="/api/search" style="margin-top: 7px;">
                    <input type="text" class="search-query span2" placeholder="Search" style="height: 23px;" name="word">
                </form></li>
                <li><a data-toggle="modal" href="#bibtexModal">BibTeXを追加</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/logout">ログアウト</a></li>

              </ul>
            </div><!-- /.nav-collapse -->
          </div>
        </div><!-- /navbar-inner -->
      </div>
    </div>
    <div class="container">
      <% if @title %>
      <div class="page-header">
        <h1><%= @title %></h1>
      </div>
      <% end %>
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list">
            <li class="nav-header">
              メニュー
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">あなたの論文リスト</a>
            </li>
            <li>
              <a href="#">最近追加された論文</a>
            </li>
            <li>
              <a href="#">最近のコメント</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">BibTeXのエクスポート</a>
            </li>
          </ul>
        </div>
        <div class="span9">
          <%= yield %>
        </div>
      </div>
      <hr />
    </div>
    <div class="modal" id="bibtexModal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>BibteXを登録</h3>
      </div>
      <div class="modal-body">
        <form action="/" method="POST">
          <p>BibTeXのURLを指定</p>
          <div class="row">
            <div class="span3">
              <input type="text" name="" value="" />
            </div>
            <div class="span1">
              <input type="submit" class="btn"/>
            </div>
          </div>
        </form>
        <form action="/bibtex/url" method="POST" enctype="multipart/form-data">
          <p>アップロードするBibTeXを選択</p>
          <div class="row">
            <div class="span3">
              <input type="file" name= "bibtex">
            </div>
            <div class="span1">
              <input type="submit" class="btn"/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#bibtexModal" data-toggle="modal" class="btn">Close</a>
      </div>
    </div>
  </body>
</html>
