<div class="container">
  <div class="row">
    <div class="span12">
      <a href="/auth/twitter">
        <img src="img/twitter_button_1_hi.gif"
             alt="twitterでログイン"
             title="twitterでログイン">
      </a>
    </div>
  </div>
</div>


