dl.author {
    
}

dl.author dt{
    
}

dl.author dd{
    display: inline-block;
    border: 0px #ccc solid;
    border-width: 0px 0px 1px 0px;
}


/* table.bibtex{ */
/* } */

/* table.bibtex th{ */
/*     border: 1px solid #eee; */
/*     border-width: 0px 0px 1px 0px; */
/* } */

table.bibtex th.title{
    width: 44%;
}
table.bibtex th.author{
    width: 14%;
}
table.bibtex th.year{
    width: 14%;
}

table.bibtex th.journal{
    width: 14%;
}

table.bibtex th.created_at{
    width: 14%;
}

table.comments th.comment{
    width: 60%;
}

table.comments th.creator{
    width: 20%;
}

table.comments th.created_at{
    width: 20%;
}



/* table.bibtex td.export_btn_col{ */
/*     text-align: right; */
/*     border: 1px solid #eee; */
/*     border-width: 0px 0px 1px 0px; */
/* } */
